<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script rel="stylesheet" type="text/css" href="../content/css/bootstrap.css"></script>
    <script rel="stylesheet" type="text/css" href="../content/js/bootstrap.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Rackus Bank</title>
</head>

<body>

    <div id="backconf">
        <header class="menu-principal container">
            <nav class="navbar navbar-expand-sm navbar-light">
                <a class="navbar-brand" href="#">Rackus Bank</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <!---------------------------------------DROPDOWN---------------------------------------------------->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Serviços</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">Investimentos</a>
                                <a class="dropdown-item" href="#">Moedas Virtuais</a>
                                <a class="dropdown-item" href="#">Cartões</a>
                                <a class="dropdown-item" href="#">Emprestimos</a>
                            </div>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">

                        <button class="btn btn-outline-light my-2 my-sm-0"><a
                                href="identificacao.html">Login/Cadastro</a></button>
                    </form>
                </div>
            </nav>

        </header>

        <div class="jumbotron jumbotron-fluid bg-transparent">
            <div class="container">
                <h1 class="display-3">Seja bem-vindo!</h1>
                <h4>Conheça nossos serviços e se torne um investidor.</h4>
                <hr class="my-2">
                <p>Baixe o App.</p>
                <p class="lead">
                    <a class="btn btn-light btn-lg" href="Jumbo action link" role="button">Começe agora!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container">

        <section>

            <div class="row mb-4">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="../img/wallet-flat.jpg" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Conta corrente</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-warning" href="#" role="button">Ver Mais »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="../img/bitcoin.jpg" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Moedas virtuais</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-warning" href="#" role="button">Ver Mais »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="../img/creditcard-outline-filled.jpg"
                        alt="Generic placeholder image" width="140" height="140">
                    <h2>Cartão de crédito</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula porta felis euismod semper. Fuscetellus ac cursus commodo, tortor mauris condimentum
                        nibh, ut fermentum massa justo sit amet.</p>
                    <p><a class="btn btn-warning" href="#" role="button">Ver Mais »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
    </div>

    <div class="col-lg-12" id="back">
        <div class="container py-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum assumenda illo ducimus molestias
                consectetur sint quam eius laborum omnis hic nobis accusantium autem officia sit, facere, culpa velit
                nemo repudiandae ex, itaque libero. Ab, similique in adipisci incidunt quam, tenetur natus obcaecati
                culpa molestiae ut totam consequatur omnis vitae voluptatum vel excepturi et sed libero magnam
                laboriosam corrupti alias! Unde at, ut nam facere repellat sequi voluptatem, delectus minus officia
                tenetur nostrum possimus similique quisquam ipsum non, error tempora magnam. Tempora quae unde
                quibusdam. Exercitationem pariatur sunt reiciendis perferendis, nulla a quisquam quae, autem sequi,
                omnis magnam. Voluptatibus, obcaecati laboriosam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo laborum aperiam quia atque asperiores
                magnam necessitatibus placeat illum harum nesciunt aspernatur quam quo vel quisquam et totam dolore,
                odit possimus sapiente ducimus at minima repellendus quaerat. Perspiciatis laboriosam obcaecati sit
                earum doloremque aperiam? Quis veritatis corporis ea facilis iure neque consequuntur nam est quae,
                provident dolor modi, voluptatibus esse itaque dolore eaque nesciunt expedita quo. Voluptates
                perspiciatis quasi quidem cum, totam porro repellendus hic dolores. Sapiente, saepe perspiciatis
                doloribus obcaecati deserunt laboriosam hic excepturi unde facere quo totam molestias, eligendi
                explicabo perferendis eius rerum a eveniet nobis dolorum vero enim voluptates quae iure earum.
                Reprehenderit non blanditiis doloremque tempore, necessitatibus voluptas, sunt saepe exercitationem
                provident laudantium perspiciatis, beatae cupiditate quos? Aspernatur dicta, omnis facere laborum esse,
                eveniet cum modi voluptatem itaque odio consequatur quibusdam. Id eos ipsum dignissimos dolorem est
                consectetur similique facilis veritatis fuga eaque labore aliquam aut eligendi eius ab debitis numquam
                laudantium culpa laborum accusamus ipsa nihil molestiae, perspiciatis corrupti. Odio facilis distinctio
                repellat magni vitae asperiores! Voluptas dolor sint consequatur incidunt nihil hic tempora excepturi
                sit dignissimos minus, mollitia a eum maiores veritatis pariatur! Excepturi exercitationem repellat
                nobis corporis tempora ea voluptatibus aliquam labore quisquam est?</p>
        </div>

    </div>

    </section>


    <footer class="bg-dark">
        <div class="container" id="foo">
            <div class="col col-md-12">
                <div class="row">


                    <ul class="list-unstyled d-flex w-25 justify-content-between" id="social">
                        <li><a href="#" class="nav-link p-0"></a><i class="fab fa-facebook" aria-hidden="true"></i>
                        </li>
                        <li><a href="#" class="nav-link p-0"></a><i class="fab fa-instagram" aria-hidden="true"></i>

                        </li>
                        <li><a href="#" class="nav-link p-0"></a><i class="fab fa-youtube" aria-hidden="true"></i>

                        </li>
                        <li><a href="#" class="nav-link p-0"></a><i class="fab fa-twitter" aria-hidden="true"></i>

                        </li>
                    </ul>


                    <div class="col col-md-2 ">
                        <ul class="list-unstyled text-white">
                            <li class="mb-2 font-weight-bold" id="sobre">Sobre</li>
                            <li>Quem somos</li>
                            <li>Carreiras</li>
                            <li>Sustentabilidade</li>
                            <li>Imprensa</li>
                        </ul>


                    </div>
                    <div class="col col-md-5">
                        <ul class="list-unstyled text-white">
                            <li class="mb-2 font-weight-bold">Atendimento</li>
                            <li>Telefones</li>
                            <li>Fale Conosco</li>
                            <li>Aplicativos</li>

                        </ul>
                    </div>
                </div>



            </div>


        </div>
    </footer>


    <script type="text/javascript" src="code.js">


    </script>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="codebank.js"></script>


</body>

</html>